*.bak
*.pyc

base/build
base/dist
base/build_scripts/jenkins/dependencies
base/build_scripts/libs
base/build_scripts/obj
base/build_scripts/jenkins/.idea/
base/build_scripts/jenkins/dist/

#unreal engine plugin
*.sln
*.sdf
*.opensdf
*.suo
unrealengine/plugin/GameSparks/Binaries
unrealengine/plugin/GameSparks/Source/GameSparksBaseSDK
unrealengine/GameSparksSample/Binaries
unrealengine/GameSparksSample/Build
unrealengine/GameSparksSample/Intermediate
unrealengine/GameSparksSample/Plugins/GameSparks
unrealengine/GameSparksSample/Saved

*.apk
cocos2dx/Sample/bin/
cocos2dx/Sample/proj.android/obj/
cocos2dx/Sample/proj.win32/Debug.win32/
cocos2dx/Sample/proj.win32/Release.win32/

*.obj
*.tlog
*.class
.DS_Store


# XCode
*.moved-aside
build/*
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*

#cocos2d-x
libs/
bin/
obj/
assets/
gen/
out/
.classpath
.project
.cproject
*.tar.gz
android-ndk.bin
base/build_scripts/jenkins/build
*.pdb
*.idb
